<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--He said to put "." instead of localhost; His does: providerName="System.Data.SqlClient"-->
    <add name ="lit_db" connectionString="Server=localhost;Database=lit_db;Uid=keawebridges;Pwd=keawebridges;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>